body{
background-color: rgba(218, 203, 232, 0.503);
}

.judul {
    text-align: center;
}

img {
    float: left; 
    width: 20rem; 
    height:20rem; 
    margin: 2%;
  }

  table, th, td {
    border: 1px solid; 
    border-collapse: collapse;
  }

p span {
    font-weight: bold;
}

.satu {
    font-style: italic;
}

.dua {
    font-style: italic;
}

.tiga {
    font-style: italic;
}